<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPageStyles.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <title>UCM-CAU</title>
</head>
<body>
    <header>
        <%- include ("./partials/technicianNavbar") %>
    </header>
    <main>
        <table class="table">
            <thead>
                <tr class="table-header">
                  <th class="typeColumn top-left-corner">Tipo</th>
                  <th class="dateColumn">Fecha</th>
                  <th class="textColumn">Texto</th>
                  <th class="actionsColumn top-right-corner">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% messages.forEach((message, i) => { %>
                  <tr class="table-row-no-hover">
                    <% switch (message.tipo) {
                      case "Felicitacion": %>
                        <td class="type"><i class="fa-solid fa-heart fa-xl green"></i></td>
                       <% break;
                      case "Sugerencia": %>
                        <td class="type"><i class="fa-solid fa-lightbulb fa-xl yellow"></i></td>
                       <% break;
                      case "Incidencia": %>
                        <td class="type"><i class="fa-solid fa-circle-exclamation fa-xl red"></i></td>
                       <% break;
                      default:
                        break;
                    } %> 
                    <td class="date"><%= message.fecha %></td>
                    <td class="text"><%= message.texto.length > 199 ? message.texto.slice(0, 200) + "..." : message.texto %></td>
                    <td class="actions">
                        <i class="action fa-solid fa-eye fa-xl black" id="eye-icon" onclick = openModal(<%= i %>)></i>
                        <i class="action fa-solid fa-trash fa-xl black"></i>
                    </td>
                  </tr>
               <% }); %> 
              </tbody>
        </table>

        <%- include ("./partials/activeTechnicianMessageModal") %>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      const tableRows = document.querySelector("#eye-icon")
      const modal = document.querySelectorAll("#adviceModal")
      const messages = <%- JSON.stringify(messages) %>


      function openModal(index) {
        const user = <%- JSON.stringify(locals.user) %>
        console.log(messages[index])
        $('#modal-username')[0].innerText = messages[index].usuario
        $('#modal-type')[0].innerText = "Aviso " + messages[index].id + ": " + messages[index].tipo
        $('#modal-date')[0].innerText = messages[index].fecha
        if (messages[index].subgrupo !== null){
          $('#modal-group')[0].innerText = messages[index].grupo + ": "
          $('#modal-subgroup')[0].innerText = messages[index].subgrupo
        } 
        else {
          $('#modal-group')[0].innerText = messages[index].grupo
          $('#modal-subgroup')[0].innerText = ""
        }
        $('#modal-observations')[0].innerText = messages[index].texto
        $('#technician-comments').attr("action", "/messages/finish-message/" + messages[index].id)
        $('#adviceModal').toggle()
      }

      function closeModal() {
        $('#adviceModal').toggle()
      }
    </script>
</body>
</html>