<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPageStyles.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <script src="/js/searchBar.js" defer></script>
    <% if (current === ".avisos-entrantes") { %>
      <script src="/js/assignTechnician.js" defer></script>
    <% } else if (current === ".gestion-de-usuarios") { %>

    <% } else { %> 
      <script src="/js/showTechnicianMessage.js" defer></script>
    <% } %> 
    <script src="/js/showUserProfile.js" defer></script>
    <title>UCM-CAU</title>
</head>
<body>
    <header>
        <%- include ("./partials/navbars/technicianNavbar") %>
        <%- include("./partials/modals/userProfileModal") %> 
    </header>
    <main>

        <!-- Search Bar -->
        <div class="search-wrapper">
          <div class="search-container">
            <div class="search-bar">
              <input type="text" name="search" id="search" placeholder="Buscar...">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
            <div class="checkbox-container">
              <span>Usuarios</span>
              <div class="wrap-toggle">
                <input type="checkbox" id="toggle" class="invisible"/>
                <label for="toggle" class="switch"></label>
              </div>
            </div>
          </div>
        </div>


        <!-- Table with messages info -->
        <% if (current !== ".gestion-de-usuarios") { %>
            <%- include ("./partials/tables/technicianTable") %> 
        <% } else { %>
            <%- include("./partials/tables/gestionUsuario") %> 
        <% } %> 

        <% if (current === ".mis-avisos") { %>
          <%- include ("./partials/modals/activeTechnicianMessageModal") %>
        <% } else if (current === ".historico-de-avisos") { %>
          <%- include ("./partials/modals/nonActiveTechnicianMessageModal") %>
        <% } else if (current === ".gestion-de-usuarios") { %> 
        <% } else { %> 
          <%- include ("./partials/modals/unassignedTechnicianMessageModal") %>
          <%- include ("./partials/modals/activeTechnicianMessageModal") %>
        <% } %> 





    </main>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
      <% if (current === ".gestion-de-usuarios") { %>
        const users = <%- JSON.stringify(users) %>
      <% }  
      else { %>  
        const messages = <%- JSON.stringify(messages) %>
        const technician = <%- JSON.stringify(locals.user.technician) %>
      <% } %>
    </script>
</body>
</html>