<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPageStyles.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <script src="/js/searchBar.js" defer></script>
    <script src="/js/showTechnicianMessage.js" defer></script>
    <title>UCM-CAU</title>
</head>
<body>
    <header>
        <%- include ("./partials/navbars/technicianNavbar") %>
    </header>
    <main>

        <!-- Search Bar -->
        <div class="search-wrapper">
          <div class="search-container">
            <div class="search-bar">
              <input type="text" name="search" id="search" placeholder="Buscar...">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
            <div class="checkbox-container">
              <span>Usuarios</span>
              <div class="wrap-toggle">
                <input type="checkbox" id="toggle" class="invisible"/>
                <label for="toggle" class="switch"></label>
              </div>
            </div>
          </div>
        </div>


        <!-- Table with messages info -->
        <%- include ("./partials/tables/myMessagesTechnicianTable") %> 

        <%- include ("./partials/modals/activeTechnicianMessageModal") %>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      const messages = <%- JSON.stringify(messages) %>
      const technician = <%- JSON.stringify(locals.user.technician) %>
    </script>
</body>
</html>