<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPageStyles.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <script src="/js/searchBar.js" defer></script>
    <script src="/js/createMessage.js" defer></script>
    <title>UCM-CAU</title>
</head>
<body>
    <header>
        <%- include ("./partials/userNavbar") %>
    </header>
    <main>

        <div class="search-wrapper">
          <div class="search-container">
            <div class="search-bar">
              <input type="text" name="search" id="search" placeholder="Buscar...">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
          </div>
        </div>
        
        <table class="table">
            <thead>
                <tr class="table-header">
                  <th class="dateColumn top-left-corner">Fecha</th>
                  <th class="textColumn">Texto</th>
                  <th class="typeColumn">Tipo</th>
                  <th class="assignedToColumn top-right-corner">Técnico</th>
                </tr>
              </thead>
              <tbody>
                <% messages.forEach((message, i) => { %>
                  <tr class="table-row" id="row-<%= i %>" onclick = openModal(<%= i %>)>
                    <td class="date"><%= message.fecha %></td>
                    <td class="text"><%= message.texto.length > 199 ? message.texto.slice(0, 200) + "..." : message.texto %></td>
                    <% switch (message.tipo) {
                      case "Felicitacion": %>
                        <td class="type"><i class="fa-solid fa-heart fa-xl green"></i></td>
                       <% break;
                      case "Sugerencia": %>
                        <td class="type"><i class="fa-solid fa-lightbulb fa-xl yellow"></i></td>
                       <% break;
                      case "Queja": %>
                        <td class="type"><i class="fa-solid fa-lightbulb fa-xl yellow"></i></td>
                       <% break;
                      case "Incidencia": %>
                        <td class="type"><i class="fa-solid fa-circle-exclamation fa-xl red"></i></td>
                       <% break;
                      default:
                        break;
                    } %> 
                    <td class="assignedTo"><%= message.tecnico !== null ? message.tecnico : "" %></td>
                  </tr>
               <% }); %> 
              </tbody>
        </table>

        <div class="button-wrapper">
          <button id="open-modal-create">Crear Aviso</button>
        </div>

        <%- include ("./partials/activeUserMessageModal") %>

        <%- include ("./partials/createMessageModal") %>


      </main>
      <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
      <script>
        const tableRows = document.querySelectorAll(".table-row")
        const modal = document.querySelectorAll("#adviceModal")
        const messages = <%- JSON.stringify(messages) %>
        technician = <%- JSON.stringify(locals.user.technician) %>

  

        function openModal(index) {
          const user = <%- JSON.stringify(locals.user) %>
          console.log(messages[index])
          $('#modal-type')[0].innerText = messages[index].tipo
          $('#modal-date')[0].innerText = messages[index].fecha
          if (messages[index].subgrupo !== null){
            $('#modal-group')[0].innerText = messages[index].grupo + ": "
            $('#modal-subgroup')[0].innerText = messages[index].subgrupo
          } 
          else {
            $('#modal-group')[0].innerText = messages[index].grupo
            $('#modal-subgroup')[0].innerText = ""
          }
          $('#modal-observations')[0].innerText = messages[index].texto
          $('#adviceModal').toggle()
        }

        function closeModal() {
          $('#adviceModal').toggle()
        }
      </script>
  </body>
</html>