<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPageStyles.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="https://kit.fontawesome.com/4b4a59d23d.js" crossorigin="anonymous"></script>
    <script src="/js/searchBar.js" defer></script>
    <script src="/js/createMessage.js" defer></script>
    <script src="/js/showUserMessage.js" defer></script>
    <title>UCM-CAU</title>
</head>
<body>
    <header>
        <%- include ("./partials/navbars/userNavbar") %>
    </header>
    <main>

        <!-- Search Bar -->
        <div class="search-wrapper">
          <div class="search-container">
            <div class="search-bar">
              <input type="text" name="search" id="search" placeholder="Buscar...">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
          </div>
        </div>
        
        <!-- Table with messages info -->
        <%- include ("./partials/tables/userTable") %> 

        <div class="button-wrapper">
          <button id="open-modal-create">Crear Aviso</button>
        </div>

        <!-- Modal to show Message info -->
        <%- include ("./partials/modals/userMessageModal") %>

        <!-- Modal to create a new Message -->
        <%- include ("./partials/modals/createMessageModal") %>


      </main>
      <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
      <script>
        const messages = <%- JSON.stringify(messages) %>
        const technician = <%- JSON.stringify(locals.user.technician) %>
      </script>
  </body>
</html>